WsTest/WebContent/wsdl/ClassifHelper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="classificationresults">
    <complexType>
     <sequence>
      <element name="Inputarff" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="classificationresultsResponse">
    <complexType>
     <sequence>
      <element name="classificationresultsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="classificationresultsResponse">

      <wsdl:part element="impl:classificationresultsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="classificationresultsRequest">

      <wsdl:part element="impl:classificationresults" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ClassifHelper">

      <wsdl:operation name="classificationresults">

         <wsdl:input message="impl:classificationresultsRequest" name="classificationresultsRequest">

       </wsdl:input>

         <wsdl:output message="impl:classificationresultsResponse" name="classificationresultsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClassifHelperSoapBinding" type="impl:ClassifHelper">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="classificationresults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="classificationresultsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="classificationresultsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClassifHelperService">

      <wsdl:port binding="impl:ClassifHelperSoapBinding" name="ClassifHelper">

         <wsdlsoap:address location="http://localhost:8080/WsTest/services/ClassifHelper"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
